/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  padding-left: 5px;
  position: relative;
  border-left: 7px solid #0f2480;
  font-weight: bold;
}

/*header section*/
.hero_area {
  background-image: url(../src/images/hero-bg.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60% 95%;
}

.sub_page .hero_area {
  height: auto;
  background: none;
  /* background-color: #0f2480; */
  padding-bottom: 0;
}

.header_section {
  overflow-x: hidden;
  overflow-y: hidden;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section .navbar-expand-lg .navbar-nav {
  width: 90%;
}

.header_section .user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_section .user_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #3554d1;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../src/images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  /*  */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          margin-left: 8%;
          /* background-color: red; */
          /* height: 100% ; */
          width: 13%;
          overflow-y: hidden;
          


          
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../src/images/menu.jpg);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 35px;
}

.User_option a {
  color: #ffffff;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 50px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu_btn-style {
  position: fixed;
  right: 40px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  width: 25px;
  margin-left: auto;
}

.custom_menu-btn .s-3 {
  width: 25px;
  margin-left: auto;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(53, 84, 209, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
}

.overlay a:hover {
  color: #252525;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

/*end header section*/
/* slider section */
.slider_section {
  padding: 75px 0;
  color: #0b0b0b;
}

.slider_section .container {
  position: relative;
  z-index: 2;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* .features{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */
.connectRoad{
  font-size: 1.12em;
  font-weight: 600;
  color: #071942;
}
.para1{
  text-align: justify;
  border-radius: 20px;
  color: #606C85;
  font-size: 0.7em;
  font-family: 'Poppins', sans-serif;
 
}

.horinzontal{
  background-color: #004EFF;
}

.iconDiv{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4em;
  background: #ECF1FE;
  color: #004EFF;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;
}
.para1:hover{
  background-color: #004EFF;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.slider_section .detail-box h1 {
  color: #3554d1;
  font-weight: bold;
  font-size: 4rem;
 
  text-align: justify;
}

.slider_section .detail-box h1 span {
  color: #0f2480;
  
}

.slider_section .detail-box p {
  margin-top: 25px;
  
  font-family: 'Poppins', sans-serif;
  width: 80%;
  text-align: justify;

}

.slider_section .detail-box .btn-box {
  margin-top: 40px;

  text-align: justify;
}

.heroSvg{
  margin-top: -20%;
  
  /* background-color: rebeccapurple; */
 
/* position: absolute; */
}
.heroSvg2{
  margin-top: -3%;
  background-color: white;
  height: 10%;
}

.slider_section .detail-box .btn-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: transparent;
  color: #3554d1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #3554d1;
  border-radius: 25px;
  margin-bottom: 75px;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: #3554d1;
  border-color: transparent;
  color: #ffffff;
}

.find_section {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.find_section form {
  padding: 10px 45px;
  -webkit-box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 20px 11px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.find_section form .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 45px;
  margin: 10px 0;
}

.find_section form button {
  background-color: #f97616;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  height: 45px;
  width: 100%;
  margin: 10px 0;
}

.about_section {
  position: relative;
  padding-top: 75px;
  /* background-color: red; */
  margin-top: 17%;
}
.leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 
}
.aboutBtn{
  background-color: #3554d1;
  color: white;
  border-radius: 25px;
  padding: 7px 30px;
  margin-left: -45%;
}
.leftSide p{

  width: 70%;
  text-align: justify;
  padding: 15px;
  color: #606C85;
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
 
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: transparent;
  color: #3554d1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #3554d1;
  border-radius: 25px;
  margin-top: 25px;
}

.about_section .detail-box a:hover {
  background-color: #3554d1;
  border-color: transparent;
  color: #ffffff;
}

.about_section .square-box {
  position: absolute;
  right: 25px;
  bottom: 0;
  width: 75px;
}

.about_section .square-box img {
  width: 100%;
}

.sale_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.sale_section .sale_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sale_section .sale_container .box {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  margin: .65%;
}

.sale_section .sale_container .box .img-box img {
  width: 100%;
}

.sale_section .sale_container .box .detail-box {
  margin-top: 10px;
}

.sale_section .sale_container .box .detail-box h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.sale_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale_section .btn-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: transparent;
  color: #3554d1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #3554d1;
  border-radius: 25px;
  margin-top: 35px;
}

.sale_section .btn-box a:hover {
  background-color: #3554d1;
  border-color: transparent;
  color: #ffffff;
}

.price_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.jukenPrice{
  /* background-color: red; */
  width: 50%;
  text-align: center;
}
.jukenPrice2{
  background-color: #3a4863 ;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.price_section .price_container .box {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  margin: 45px .65%;
  color: #ffffff;
  min-width: 300px;
}

.price_section .price_container .box .detail-box {
  background-color: #3554d1;
}

.price_section .price_container .box .detail-box .heading-box {
  padding: 20px 0;
  background-color: #0f2480;
}

.price_section .price_container .box .detail-box .heading-box h4 {
  font-weight: bold;
}

.price_section .price_container .box .detail-box .heading-box h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.price_section .price_container .box .detail-box .text-box {
  padding: 45px 0;
}

.price_section .price_container .box .detail-box .text-box h2 {
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.price_section .price_container .box .detail-box .text-box h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 45px;
  height: 5px;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
}

.price_section .price_container .box .detail-box .text-box ul {
  padding: 0;
}

.price_section .price_container .box .detail-box .text-box ul li {
  list-style-type: none;
  margin: 10px 0;
}

.price_section .price_container .box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.price_section .price_container .box .btn-box a {
  padding: 7px 30px;
  background-color: white;
  color: #0f2480;
  border-radius: 25px;
  border: 1px solid #0f2480;
}

.price_section .price_container .box:hover .detail-box {
  /* background-color: #f9bc16; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.price_section .price_container .box:hover .btn-box a {
  /* background-color: #f9bc16; */
}

.deal_section {
  overflow-x: hidden;
}

.deal_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deal_section .detail-box p {
  margin-top: 15px;
}

.deal_section .detail-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: transparent;
  color: #3554d1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #3554d1;
  border-radius: 25px;
  margin-top: 25px;
}

.deal_section .detail-box a:hover {
  background-color: #3554d1;
  border-color: transparent;
  color: #ffffff;
}

.deal_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115%;
}

.deal_section .img-box .box.b1 {
  margin-right: 15px;
}

.deal_section .img-box img {
  max-width: 100%;
}

.us_section {
  /* background-color: #0f2480; */
  color: black;
  background: radial-gradient(circle at left bottom, #dae2ec , #ffffff)
}

.us_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.us_section .heading_container h2 {
  border-left-color: #0F2480;
}

.formDiv{
  height: 500px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.parentContact{
  background: linear-gradient(90deg, #dae2ec 0%, #ffffff 100%)
}

.contacticonDiv{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4em;
  background: #ECF1FE;
  color: #004EFF;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;
}
.realestatVector {
  /* background: url(../src/images/vector.avif); */
  width: 70%;
  text-align: justify;
  padding: 15px;
  color: #606C85;
  font-size: 1.1em;
  font-family: 'Poppins', sans-serif;
}
.add{
  padding-left: 4px;
  border-left: 7px solid #0F2480;
}
.contactParenticon{
  display: flex;
  align-items: center;
  
}
.secondDiv{
  margin-left: 8.5%;
}
.addressDiv{
  
  margin-top: 35%;
}
.us_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 25px 0;
}

.us_section .box .img-box {
  margin-bottom: 15px;
}

.us_section .box .img-box img {
  width: 100%;
}

.us_section .box h3 {
  font-weight: bold;
}

.us_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.us_section .btn-box a {
  padding: 7px 30px;
  background-color: #ffffff;
  color: #252525;
  border-radius: 25px;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.client_section .client_container {
  width: 85%;
  margin: auto;
  border: 1px solid #252525;
}

.client_section .client_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 55px 2%;
}

.client_section .client_container .box .img-box {
  min-width: 100px;
  margin-right: 15px;
}

.client_section .client_container .box .img-box img {
  width: 100%;
}

.client_section .client_container .box .detail-box h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .client_container .box .detail-box h5 hr {
  width: 45px;
  height: 5px;
  margin: 0;
  margin-left: 5px;
  border: none;
  background-color: #252525;
}

.client_section .client_container div#carouselExampleControls {
  padding: 0 10%;
}

.client_section .client_container div#carouselExampleControls::before {
  content: "";
  width: 50px;
  height: 155px;
  background-color: #0f2480;
  position: absolute;
  left: 10%;
  top: 37px;
}

.client_section .client_container .carousel-control-prev,
.client_section .client_container .carousel-control-next {
  width: 45px;
  height: 45px;
  background-color: #0f2480;
  border-radius: 100%;
  top: 50%;
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.client_section .client_container .carousel-control-prev {
  background-image: url(../src/images/prev-white.png);
  left: 10px;
}

.client_section .client_container .carousel-control-next {
  background-image: url(../src/images/next-white.png);
  right: 10px;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.contact_section .container-fluid {
  background-color: #0f2480;
  color: #ffffff;
}

.contact_section .form_container {
  padding: 45px 0 45px 15px;
}

.contact_section input {
  width: 100%;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #252525;
  margin-top: 25px;
  padding: 12px;
}

.contact_section input::-webkit-input-placeholder {
  color: #2a2a2c;
}

.contact_section input:-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::-ms-input-placeholder {
  color: #2a2a2c;
}

.contact_section input::placeholder {
  color: #2a2a2c;
}

.contact_section input.message-box {
  padding: 45px 12px;
}

.contact_section button {
  padding: 10px 65px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f97616;
  border-radius: 25px;
  margin: 45px 0 0 auto;
  text-transform: uppercase;
}

.contact_section .map_container {
  height: 100%;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.info_section {
  background-color: #0f2480;
  color: #ffffff;
  padding: 90px 0 45px 0;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_links ul {
  padding: 0;
}

.info_section .info_links ul li {
  list-style-type: none;
}

.info_section .info_links ul li a {
  color: #ffffff;
}

.info_section .info_contact .img-box {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .info_contact p {
  margin: 0;
}

.info_section .info_contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.info_section .info_contact > div img {
  height: auto;
  margin-right: 12px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f97616;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 25px;
}

/* footer section*/
.footer_section {
  background-color: #0f2480;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  width: 70%;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.footer_section a {
  color: #ffffff;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */
